/*centers the overall game container*/
#game-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

/*aligns player container contents*/
#game-area {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /*push content left*/
    gap: 2rem;
}

/*aligns player table and info*/
.game-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /*push content left*/
    gap: 1.5rem;
}

/*fix table/gameboard size*/
.game-board {flex: 0 0 auto;}

.board-info {flex: 1 1 auto;}

.game-board td {
    width: 10vmin;
    height: 10vmin;
    max-width: 100px;
    max-height: 100px;

    /*box-shadow: inset 1px 1px 1px 2px lightcoral;*/
    outline: 2px solid black;
    outline-offset: -2px;

    text-align: center;
    vertical-align: middle;
    font-size: 5vmin;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}


.game-board tr:hover td {background-color: #f0f0f0;}

/*player and opponent boards - rotates and flips boards to mirror each other*/
#opponent-board td {
    background-color: #fafafa;
    transform: rotate(180deg);
    transform-origin: center;
}

#player-board td {
    background-color: #fff;
    transform: rotate(-90deg);
    transform-origin: center;
}

#player-board {
    transform: rotate(90deg);
    transform-origin: center;
}

#opponent-board {
    transform: scale(-1, -1);
    transform-origin: center;
}