
h1 {
    font-size: 7rem;
    margin: 0;
    line-height: 1;

    letter-spacing: 0.1em;
    transform: scaleX(1.5);
    transform-origin: left;
}

.navbar {
    /*background-color: #f2f2f2;*/
    padding: 1px;
    margin-bottom: 5px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: underline;
    color: #333;
    font-weight: bold;
    font-size: 2rem;

}

.navbar li {display: flex;}
.navbar a:hover {color: #007bff;}


html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 90%;
    height: 90%;
    border: 3px solid black;
    padding: 20px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}